/* Deep Lavender & Charcoal */
:root {
    --primary: #9370db;
    --secondary: #333333;
    --tertiary: #ffcc80;
    --light: #ffffff;
    --dark: #333333;
}

p {
    color: var(--light);
}

.page-title {
    color: var(--light);
}