/* Serenity */
:root {
    --primary: #20b2aa;            
    --secondary: #f0e68c;          
    --tertiary: #ff6347;           
    --text: #333333;              
    --background: #f5f5f5;        
}